<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TargetFolder">
      <Component Id="Id_Castle_Core_dll_1017490491_WixComponent" Guid="C9308498-C32E-44FB-93E6-E7E2EAB66250" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_247582670_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_261955915_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Core_dll_2139862573_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Tools\bin\Release\Script.Install.Tools\Libs\Castle.Core.dll" />
      </Component>
      <Component Id="Id_Castle_Facilities_Logging_dll_1391809058_WixComponent" Guid="359D520C-999F-48AB-980C-352C99EE3E2D" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_295174164_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1033854999_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Facilities_Logging_dll_1826088295_WixFile" Name="Castle.Facilities.Logging.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Tools\bin\Release\Script.Install.Tools\Libs\Castle.Facilities.Logging.dll" />
      </Component>
      <Component Id="Id_Castle_Services_Logging_Log4netIntegrati_869110897_WixComponent" Guid="7AC0FDBE-F1E6-45E1-B881-069549632E92" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1180304443_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_426549617_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Services_Logging_Log4netIntegrati_310506530_WixFile" Name="Castle.Services.Logging.Log4netIntegration.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Tools\bin\Release\Script.Install.Tools\Libs\Castle.Services.Logging.Log4netIntegration.dll" />
      </Component>
      <Component Id="Id_Castle_Windsor_dll_733890240_WixComponent" Guid="7EA74C2A-DCFD-46FE-9E52-9ACD0AFB607D" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_865257624_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_340657473_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Windsor_dll_278821314_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Tools\bin\Release\Script.Install.Tools\Libs\Castle.Windsor.dll" />
      </Component>
      <Component Id="Id_Common_Logging_dll_606777503_WixComponent" Guid="C02393E1-0858-4888-B6AB-50E513D66E01" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_675994563_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_661476795_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_dll_38383011_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Tools\bin\Release\Script.Install.Tools\Libs\Common.Logging.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Log4Net_dll_1925601046_WixComponent" Guid="380B3737-B09F-4891-9EF0-90C96583C239" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_2039102157_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_601490483_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Log4Net_dll_184211824_WixFile" Name="Common.Logging.Log4Net.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Tools\bin\Release\Script.Install.Tools\Libs\Common.Logging.Log4Net.dll" />
      </Component>
      <Component Id="Id_log4net_dll_1358752522_WixComponent" Guid="C594FFAB-05DE-4D68-AE7E-B4301FE1356A" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_488081996_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1497930803_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_log4net_dll_1460019562_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Tools\bin\Release\Script.Install.Tools\Libs\log4net.dll" />
      </Component>
      <Component Id="Id_NCmdLiner_dll_989732458_WixComponent" Guid="7D707BEC-A69F-490C-8F16-E38F9A7743CE" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_776804496_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1760327955_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_NCmdLiner_dll_1420411125_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Tools\bin\Release\Script.Install.Tools\Libs\NCmdLiner.dll" />
      </Component>
      <Component Id="Id_Newtonsoft_Json_dll_1015347042_WixComponent" Guid="B9E3AEC9-6304-440F-AD92-AA90D4F1439E" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_2034923357_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1194058413_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Newtonsoft_Json_dll_2133622689_WixFile" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Tools\bin\Release\Script.Install.Tools\Libs\Newtonsoft.Json.dll" />
      </Component>
      <Directory Id="Id_NMultiTool_1139055927_WixDirectory" Name="NMultiTool">
        <Component Id="Id_Castle_Core_dll_244848170_WixComponent" Guid="0155AB59-D777-417B-A6F0-6D1EE31FD30F" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1094653443_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1376169522_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Core_dll_641968154_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Tools\bin\Release\Script.Install.Tools\Libs\NMultiTool\Castle.Core.dll" />
        </Component>
        <Component Id="Id_Castle_Facilities_Logging_dll_2097448886_WixComponent" Guid="128959B7-C070-4A20-81AD-DD0C430FA814" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_931144156_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1886684847_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Facilities_Logging_dll_1452504727_WixFile" Name="Castle.Facilities.Logging.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Tools\bin\Release\Script.Install.Tools\Libs\NMultiTool\Castle.Facilities.Logging.dll" />
        </Component>
        <Component Id="Id_Castle_Services_Logging_Log4netIntegrati_20942909_WixComponent" Guid="1B4A923D-4418-41D9-8BFF-0384C2FE7174" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1636803239_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1189484492_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Services_Logging_Log4netIntegrati_1758286514_WixFile" Name="Castle.Services.Logging.Log4netIntegration.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Tools\bin\Release\Script.Install.Tools\Libs\NMultiTool\Castle.Services.Logging.Log4netIntegration.dll" />
        </Component>
        <Component Id="Id_Castle_Windsor_dll_1535255282_WixComponent" Guid="1E503B8C-DCF2-482A-91F6-FF604CDE67A3" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1151102343_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1082989981_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Windsor_dll_406141110_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Tools\bin\Release\Script.Install.Tools\Libs\NMultiTool\Castle.Windsor.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Core_dll_1725860655_WixComponent" Guid="247820E2-B93F-44ED-9A55-A6B5F16A1AA1" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1260383341_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1125871981_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Core_dll_1793575834_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Tools\bin\Release\Script.Install.Tools\Libs\NMultiTool\Common.Logging.Core.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Core_pdb_77744091_WixComponent" Guid="BBDB62B5-9121-4579-ACE1-00D885BBCF80" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_781110051_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_903727062_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Core_pdb_944727008_WixFile" Name="Common.Logging.Core.pdb" KeyPath="yes" Source="C:\Dev\github\Script.Install.Tools\bin\Release\Script.Install.Tools\Libs\NMultiTool\Common.Logging.Core.pdb" />
        </Component>
        <Component Id="Id_Common_Logging_dll_1721319084_WixComponent" Guid="51153D60-126F-4F3D-ABD0-229A7B864210" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_836355837_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_92306401_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_dll_1567460135_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Tools\bin\Release\Script.Install.Tools\Libs\NMultiTool\Common.Logging.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Log4Net1210_dll_1153622139_WixComponent" Guid="81D152B3-916D-4619-85F6-678C8C8E230A" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1442643135_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_846450530_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Log4Net1210_dll_1818682858_WixFile" Name="Common.Logging.Log4Net1210.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Tools\bin\Release\Script.Install.Tools\Libs\NMultiTool\Common.Logging.Log4Net1210.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Log4Net1210_pdb_354518431_WixComponent" Guid="18E8C49E-58D3-40D6-B4CC-B6B8FCB4D413" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1287249034_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_361929333_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Log4Net1210_pdb_1728824767_WixFile" Name="Common.Logging.Log4Net1210.pdb" KeyPath="yes" Source="C:\Dev\github\Script.Install.Tools\bin\Release\Script.Install.Tools\Libs\NMultiTool\Common.Logging.Log4Net1210.pdb" />
        </Component>
        <Component Id="Id_Common_Logging_pdb_1432790920_WixComponent" Guid="40E2D943-DA7D-4A1C-AC12-84C05C063CAC" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1543898504_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1975635807_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_pdb_1107958001_WixFile" Name="Common.Logging.pdb" KeyPath="yes" Source="C:\Dev\github\Script.Install.Tools\bin\Release\Script.Install.Tools\Libs\NMultiTool\Common.Logging.pdb" />
        </Component>
        <Component Id="Id_log4net_dll_862289283_WixComponent" Guid="37870328-F654-475F-A899-77D1FE698721" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_879190744_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1337809613_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_log4net_dll_998762404_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Tools\bin\Release\Script.Install.Tools\Libs\NMultiTool\log4net.dll" />
        </Component>
        <Component Id="Id_Microsoft_Web_XmlTransform_dll_308446311_WixComponent" Guid="D8C493EF-EC69-4323-B916-22E374AF0768" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1849216695_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1601960823_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Microsoft_Web_XmlTransform_dll_1773185800_WixFile" Name="Microsoft.Web.XmlTransform.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Tools\bin\Release\Script.Install.Tools\Libs\NMultiTool\Microsoft.Web.XmlTransform.dll" />
        </Component>
        <Component Id="Id_NCmdLiner_dll_677337974_WixComponent" Guid="A3F02FD8-24D3-4034-8077-A7E47ACD5212" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1014270015_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1436970034_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NCmdLiner_dll_774540016_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Tools\bin\Release\Script.Install.Tools\Libs\NMultiTool\NCmdLiner.dll" />
        </Component>
        <Component Id="Id_NMultiTool_exe_68186432_WixComponent" Guid="D379E17A-5DAC-48C0-A8A2-7E94B23C716C" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_340046855_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1061311836_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_1611221766_WixFile" Name="NMultiTool.exe" KeyPath="yes" Source="C:\Dev\github\Script.Install.Tools\bin\Release\Script.Install.Tools\Libs\NMultiTool\NMultiTool.exe" />
        </Component>
        <Component Id="Id_NMultiTool_exe_config_190926381_WixComponent" Guid="D895622E-4865-45D7-8F46-3B30D129F716" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_431442514_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1068132717_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_config_1261093049_WixFile" Name="NMultiTool.exe.config" KeyPath="yes" Source="C:\Dev\github\Script.Install.Tools\bin\Release\Script.Install.Tools\Libs\NMultiTool\NMultiTool.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Library_dll_838837755_WixComponent" Guid="424DFA6A-BE3C-4E00-8F7B-ED19941CADBA" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_319224712_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_298882588_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_dll_725783421_WixFile" Name="NMultiTool.Library.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Tools\bin\Release\Script.Install.Tools\Libs\NMultiTool\NMultiTool.Library.dll" />
        </Component>
        <Component Id="Id_NMultiTool_Library_pdb_790352709_WixComponent" Guid="B901535A-52F8-4DA9-8C34-11CC90E4BC4D" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1518285281_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1403768083_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_pdb_248006248_WixFile" Name="NMultiTool.Library.pdb" KeyPath="yes" Source="C:\Dev\github\Script.Install.Tools\bin\Release\Script.Install.Tools\Libs\NMultiTool\NMultiTool.Library.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_pdb_789173010_WixComponent" Guid="C77D8A98-9486-4900-8FB7-E7082AAB26D8" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1501648861_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1120833837_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_pdb_181962151_WixFile" Name="NMultiTool.pdb" KeyPath="yes" Source="C:\Dev\github\Script.Install.Tools\bin\Release\Script.Install.Tools\Libs\NMultiTool\NMultiTool.pdb" />
        </Component>
        <Component Id="Id_NuGet_Core_dll_1432231181_WixComponent" Guid="8CBCEF01-8FAA-4BE4-A6D0-7DBC3D5975C2" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_17913980_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_931286551_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NuGet_Core_dll_1346036994_WixFile" Name="NuGet.Core.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Tools\bin\Release\Script.Install.Tools\Libs\NMultiTool\NuGet.Core.dll" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Components_WiXComponentGroup">
      <ComponentRef Id="Id_Castle_Core_dll_1017490491_WixComponent" />
      <ComponentRef Id="Id_Castle_Facilities_Logging_dll_1391809058_WixComponent" />
      <ComponentRef Id="Id_Castle_Services_Logging_Log4netIntegrati_869110897_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_733890240_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_606777503_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net_dll_1925601046_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_1358752522_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_989732458_WixComponent" />
      <ComponentRef Id="Id_Newtonsoft_Json_dll_1015347042_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_244848170_WixComponent" />
      <ComponentRef Id="Id_Castle_Facilities_Logging_dll_2097448886_WixComponent" />
      <ComponentRef Id="Id_Castle_Services_Logging_Log4netIntegrati_20942909_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_1535255282_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_1725860655_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_pdb_77744091_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_1721319084_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1210_dll_1153622139_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1210_pdb_354518431_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_pdb_1432790920_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_862289283_WixComponent" />
      <ComponentRef Id="Id_Microsoft_Web_XmlTransform_dll_308446311_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_677337974_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_68186432_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_config_190926381_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_dll_838837755_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_pdb_790352709_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_pdb_789173010_WixComponent" />
      <ComponentRef Id="Id_NuGet_Core_dll_1432231181_WixComponent" />
    </ComponentGroup>
  </Fragment>
</Wix>